/* #tracks-container{
    display:flex;
    height:100vh;
    width: 100vw;
    margin:0vh;
    justify-content: flex-end;
} */
:root{
    --tracks-top: '0px';
}
#tracks-mask-inverse{
    /* visibility: hidden; */
    position:fixed;
    height:100vh;
    margin-left:auto;
    /* z-index: 2; */
}
#tracks{
    position:fixed;
    height:100vh;
    /* margin-left:auto; */
    z-index:3;
    top: var(--tracks-top);
}
#bodyImage{
    background-color: red;
    height:100vh;
    width:100vw;
    /* z-index:1; */
    mask-image: url(#tracks-mask-inverse);
    -webkit-mask-image: url(mask-b&w.svg);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: right var(--tracks-top);
    -webkit-mask-position:  right var(--tracks-top);
}
body{
    height:300vh;
    overflow: scroll;
    display: flex;
    margin:0vh;
    flex-flow: column nowrap;
    align-items:flex-end;
}
