#tracks{
    position:fixed;
    height:100vh;
    right:0vw;
    z-index:3;
}
#bodyImage{
    width:131.746032vh;
    z-index:1;
    mask-image: url('images/mask-b&w.svg');
    -webkit-mask-image: url('images/mask-b&w.svg');
    mask-repeat:no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: right 0px;
    -webkit-mask-position: right 0px;
    mask-size:131.746032vh 100vh;
    -webkit-mask-size: 131.746032vh 100vh;
    
}
#tracks.show, #bodyImage.show{
    transition: opacity 1s;
    -webkit-transition: opacity 1s; 
    opacity: 1;
}
#tracks.hide, #bodyImage.hide{
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    opacity: 0;
}
body{
    /* background-image: ; */
    display:flex;
    height:300vh;
    overflow: scroll;
    margin:0vh;
    flex-flow: column nowrap;
    align-items:flex-end;
}
.reveals{
    position:absolute;
    font-size:10vh;
    font-weight: bold;
    opacity:0;
    visibility: hidden;
}
#walk.show, #all-over.show, #me.show{
    opacity: 1;
    visibility: visible;
    transition: 1s;
    -webkit-transition: 1s;
}
#walk.hide, #all-over.hide, #me.hide{
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    -webkit-transition: .5s;
}
#walk{
    left:13vw;
    top:60vh;
}
#all-over{
    left:26vw;
    top:70vh;
}
#me{
    left:41vw;
    top:80vh;
}
.woman{
    position:absolute;
    left:0vw;
    top:150vh;
    width: auto;
    height: auto;
    max-width: 80vw;
    max-height: 100vh;
}
